.container{
    height: 100%;
    .content{
        width: 100%;
        height: 100vh;
        .movie-poster{
            width: 100%;
            overflow: hidden;
            text-align: center;
        }
        .movie-content{
            display: flex;
            justify-content: center;
            flex-direction: column;
            
            .movie-title{
                font-size: 24px;
                font-weight: bold;
                margin: 24px 0;
                text-align: center;
            }
            .movie-descript{
                word-break: keep-all;
                text-align: center;
                font-size: 17px;
                line-height: 1.5;
            }
        }
    }
}